
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/model.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <span class="btn_openmenu" onclick="openNav()">&#9776; Menu</span><br><br>
    <nav class="aside" id="aside">
        <div class="overlay"></div>
        <img class="aside_logo" src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo de la Empresa">
        <h1 style="text-decoration: underline;">Opciones</h1>

        <label for="confidenceThreshold">
            <span class="tooltip-container">
                <img class="logo_x"
                    src="https://images.vexels.com/media/users/3/152347/isolated/preview/27304b9b14ce9bd8a28ca637ed92070e-icono-de-signo-de-interrogacion-de-circulo-azul.png"
                    alt="Simbolo de Ayuda">
                <span class="tooltip-text">Es la probabilidad que determina en las predicciones,si es alto es más
                    confiable, aunque puede omitir objetos al no cumplir dicho porcentaje. Si es bajo, será menos
                    confiable, pero detectará aún más.</span>
            </span>
            Umbral de Confianza:
        </label>
        <input type="range" id="confidenceThreshold" min="0.1" max="0.9" step="0.01" value="0.5">
        <span id="confidenceValue" >50%</span>

        <label for="SwitchCamera">Camara</label>
        <button id="switchCameraBtn">Cambiar de dispositivo</button>
        <br>
        <label class="nav-link-aside" for="darkModeToggle"><input type="checkbox" class="btn_darkmode"
                id="darkModeToggle" hidden>
            Modo Oscuro</label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Cerrar Menú</a>
        <br>
        <a href="{{ url_for('index') }}" class="nav-link">Ir a Inicio</a>
    </nav>

    <div class="container">
        <main>
            <div>
                <div>
                    <p>Camara Actual: <span id="currentCamera"></span></p>
                        <h5>(Aceptar Permisos de la CAMARA y recarga la pagina)</h5>
                    <video id="video" autoplay></video><br>
                    <button id="captureBtn"><image id="logo" src="{{url_for('static', filename='img/cam.webp')}}" alt="camera"></image> Capturar Camara</button>
                    <p>O</p>
                    <input type="file" id="fileInput" hidden accept="image/*,video/*">
                    <label for="fileInput" id="fileinputlabel"><image id="logo" src="{{url_for('static', filename='img/upload.webp')}}" alt="document"></image> Selecciona un archivo</label>
                </div>
                <br>
                <div class="img-magnifier-container">
                    <img id="resultImage" alt="">
                    <div class="img-magnifier-glass"></div>
                </div>
            </div>
            <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
            <div>
                <h3>Detecciones</h3>
                <ul id="detectionsList"></ul>
            </div>
            <div class="colors">
                <h3>Colores</h3>
                <ul>
                    <li class="bio">Biodegradable &#10143; Comida, Planta, Fruta, Verdura</li>
                    <li class="cardb">Cartón &#10143; Rollo, Caja, Contenedor, Plancha</li>
                    <li class="glass">Vidrio &#10143; Botella, Vajilla, Frasco</li>
                    <li class="metal">Metal &#10143; Aluminio, Lata, Menaje, Utensilio</li>
                    <li class="noxios">Nocivos &#10143; Bateria, Pila</li>
                    <li class="paper">Papel &#10143; Carta, Factura, Periodico, Servilleta</li>
                    <li class="plastic">Plastico &#10143; Bolsa, Botella, Vajilla, Tapa, Utensilio</li>
                </ul>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/magnifying.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
</body>

</html>