<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}" >
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Noticias</h1>
            <span>Conoce las novedades,articulos y eventos en Colombia. </span>
            <section>
                <article style="background-image: url(https://us.123rf.com/450wm/fotographic/fotographic2303/fotographic230302385/200891141-ilustraci%C3%B3n-3d-de-fondo-verde-ecol%C3%B3gico-con-hojas-y-s%C3%ADmbolo-de-reciclaje-de-metal.jpg);">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
                <article style="background-image: url();">
                    <div class="overlay"></div>
                    <a href="#">Conferencia de la vida </a>
                </article>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>