<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciclaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recicla.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Recicla</h1>
            <span>En Colombia, se unifica los residuos en 3 colores.</span>
            <section class="bins">
                <article class="title">
                    <p class="t1" style="color:white">Aprovechables</p>
                    <p class="t2" style="color:green">Organicos Aprovechables</p>
                    <p class="t3">No Aprovechables</p>
                </article>
                <article>
                    <img class="image" src="https://i.postimg.cc/K8f3TBjf/recicla-bins.webp">
                </article>
                <article class="descripcion">
                    <div class="overlay"></div>
                    <p>Papel, Carton, Plastico, Vidrio, Metal </p>
                    <p>Restos de comida, Desperdicios agricolas</p>
                    <p>Papeles higienico, Servilletas</p>
                </article>
            </section>
            <h2>Departamentos</h2>

            <select title="deparments" class="deparments">
                <option selected hidden>Ninguna</option>
                {% for deparment in deparments %}
                {% with deparment=deparment %}
                <option value="{{ deparment.name }}">{{ deparment.name }}</option>
                {% endwith %}
                {% endfor %}

            </select>

            <section class="direction">
                {% for department in deparments %}
                <article class="{{ department.name }}">
                    <h3>- {{ department.name }} -</h3>
                    <div>
                        {% for direction in department.dir %}
                        <div class="item">
                            <p>{{ direction.name }}</p>
                            <p>{{ direction.city }}</p>
                            <p>{{ direction.address }}</p>
                            <p>{{ direction.info }}</p>
                            
                        </div>
                        {% endfor %}
                    </div>
                </article>
                {% endfor %}
            </section>

            <br>
            <iframe 
                src="https://www.google.com/maps/d/u/1/embed?mid=1__EQl8kpuj3iGXtKCa3mTYxPCgjjZag&ehbc=2E312F"
                width="90%" height="480" style="border-radius: 20px;"
                title="cuadro de los lugares de reciclaje"></iframe>
            <br>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/search_dp.js') }}"></script>
</body>

</html>