<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciclaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recicla.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Recicla</h1>
            <span>En Colombia, se unifica los residuos en 3 colores.</span>
            <section class="bins">
                <article class="title">
                    <p class="t1" style="color:white">Aprovechables</p>
                    <p class="t2" style="color:green">Organicos Aprovechables</p>
                    <p class="t3">No Aprovechables</p>
                </article>
                <article>
                    <img class="image" src="https://i.postimg.cc/K8f3TBjf/recicla-bins.webp">
                </article>
                <article class="descripcion">
                    <div class="overlay"></div>
                    <p>Papel, Carton, Plastico, Vidrio, Metal </p>
                    <p>Restos de comida, Desperdicios agricolas</p>
                    <p>Papeles higienico, Servilletas</p>
                </article>
            </section>
            <h2>Departamentos</h2>

            <select title="deparments" class="deparments">
                <option selected hidden>Ninguna</option>
                {% for deparment in deparments %}
                {% with deparment=deparment %}
                {% include 'components/recicla_option.html' %}
                {% endwith %}
                {% endfor %}

                <!--<option value="Amazonas">Amazonas</option>
                <option value="Antioquia">Antioquia</option>
                <option value="Arauca">Arauca</option>
                <option value="Atlantico">Atlantico</option>
                <option value="Bolivar">Bolivar</option>
                <option value="Boyaca">Boyaca</option>
                <option value="Caldas">Caldas</option>
                <option value="Caqueta">Caqueta</option>
                <option value="Casanare">Casanare</option>
                <option value="Cauca">Cauca</option>
                <option value="Cesar">Cesar</option>
                <option value="Choco">Choco</option>
                <option value="Cordoba">Cordoba</option>
                <option value="Cundinamarca">Cundinamarca</option>
                <option value="Guainia">Guainia</option>
                <option value="Guaviare">Guaviare</option>
                <option value="Huila">Huila</option>
                <option value="La_Guajira">La Guajira</option>
                <option value="Magdalena">Magdalena</option>
                <option value="Meta">Meta</option>
                <option value="Nariño">Nariño</option>
                <option value="Norte_de_Santander">Norte de Santander</option>
                <option value="Putumayo">Putumayo</option>
                <option value="Quindio">Quindío</option>
                <option value="Risaralda">Risaralda</option>
                <option value="San_Andres_Providencia">San Ándres y Providencia</option>
                <option value="Santander">Santander</option>
                <option value="Sucre">Sucre</option>
                <option value="Tolima">Tolima</option>
                <option value="Valle_del_cauca">Valle del cauca</option>
                <option value="Vaupes">Vaupés</option>
                <option value="Vichada">Vichada</option>
            -->
            </select>

            <section class="direction">
                <article class="Amazonas">
                    <h3>- Amazonas -</h3>
                    <div>
                        <div class="item">
                            Departamento Martinet (Centro de Reciclaje)<br>
                            Cra 18 #40-2 - Leticia<br>
                            31209846532
                            <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                        </div>
                        <div class="item">
                            Departamento Martinet (Centro de Reciclaje)<br>
                            Cra 18 #40-2 - Leticia<br>
                            31209846532<br>
                            <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                        </div>
                        <div class="item">
                            Departamento Martinet (Centro de Reciclaje)<br>
                            Cra 18 #40-2 - Leticia<br>
                            31209846532<br>
                            <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                        </div>
                    </div>
                </article>
                <article class="Antioquia">
                    <h3>- Antioquia -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Arauca">
                    <h3>- Arauca -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Atlantico">
                    <h3>- Atlantico -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Bolivar">
                    <h3>- Bolivar -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Boyaca">
                    <h3>- Boyacá -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Caldas">
                    <h3>- Caldas -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Caqueta">
                    <h3>- Caquetá -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Casanare">
                    <h3>- Casanare -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Cauca">
                    <h3>- Cauca -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Cesar">
                    <h3>- Cesar -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Choco">
                    <h3>- Chocó -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Cordoba">
                    <h3>- Córdoba -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Cundinamarca">
                    <h3>- Cundinamarca -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Guainia">
                    <h3>- Guainía -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Guaviare">
                    <h3>- Guaviare -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Huila">
                    <h3>- Huila -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="La_Guajira">
                    <h3>- La Guajira -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Magdalena">
                    <h3>- Magdalena -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Meta">
                    <h3>- Meta -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Nariño">
                    <h3>- Nariño -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Norte_de_Santander">
                    <h3>- Norte de Santander -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Putumayo">
                    <h3>- Putumayo -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Quindio">
                    <h3>- Quindío -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Risaralda">
                    <h3>- Risaralda -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="San_Andres_Providencia">
                    <h3>- San Ándres y Providencia -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Santander">
                    <h3>- Santander -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Sucre">
                    <h3>- Sucre -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Tolima">
                    <h3>- Tolima -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Valle_del_cauca">
                    <h3>- Valle del cauca -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Vaupes">
                    <h3>- Vaupés -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Vichada">
                    <h3>- Vichada -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
            </section>
            <br>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1d4mNFudfN13l7_bi-wwAoLDsm31FXQY&ehbc=2E312F"
                width="90%" height="480" style="border-radius: 20px;"
                title="cuadro de los lugares de reciclaje"></iframe>
            <br>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/search_dp.js') }}"></script>
</body>

</html>