<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reutilizar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reuse.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Reutiliza</h1>
            <span>Busca tu material y recrea para darle un nuevo uso.</span>
            <br>
            <span style="font-size: small;">(El material audiovisual mostrado es como uso UNICAMENTE educativo y
                proporcionar guia,referenciando enlace al video.)</span>
            <section>
                <article>
                    <div class="toggle-button btn_1">
                        <label>Cartón </label>
                        <img src="https://cdn-icons-png.flaticon.com/512/54/54785.png" height="10">
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/DwGqmXbM/Card-maceta.webp">
                            <a href="https://youtu.be/vbxhSfSyq_Y?si=l5ZObRsykJ3lhjlI" class="txt">Maceta<br>
                                <img
                                class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/mgHVHrnt/C-organizadora.webp">
                            <a href="https://youtu.be/_74yRhSnWk4?si=N2JIEsAdz0XvXXiM" class="txt">Caja
                                Organizadora<br>
                                <img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/9FKdWpz9/Card-masa.webp">
                            <a href="https://youtu.be/nqqOJsn3YzY?si=scjXAoWimZnVlBs0" class="txt">Masa con cartón de
                                huevo<br>
                                <img class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/PrxvcFzH/C-Separador.webp">
                            <a href="https://youtu.be/WMvFGxiVU6o?si=LyTKO_RyvJ9294L5" class="txt">Separador de
                                Cajas<br><img class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/fTp7vN4p/c-portalapiz.webp">
                            <a href="https://youtu.be/1rdbwEZtbso?si=AFl1rtjSOgsVCcKs" class="txt">Portalapiz<br>
                                <img
                                class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/28GRsJ92/C-horno.webp">
                            <a href="https://youtu.be/rDTxjcmghp0?si=bIT0P1Yy8M_37Tz7" class="txt">Horno solar<br>
                                <img
                                class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="toggle-button btn_2">
                        <label>Plástico </label>
                        <img src="https://cdn-icons-png.flaticon.com/512/54/54785.png" height="10">
                    </div>

                    <div class="toggle-content">
                        <div class="item-content">
                            <img class="miniature" src="https://i.postimg.cc/NfjDGDYG/Pt-regadera.webp">
                            <a href="https://youtu.be/qoSXIXs_SAg?si=O-qCKY145xEokigs" class="txt">Regadera <br>
                                <img
                                class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/8cS1Bspw/Pt-maceta.webp">
                            <a href="https://youtu.be/D_u6mNlHprE?si=UYNb1EQEdR91ECru" class="txt">Maceta<br>
                                <img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/9FSLxkwR/Pt-alcancia.webp">
                            <a href="https://youtu.be/75B8pGCk4Y4?si=jA4Vj0RzB9v2q_no" class="txt">Alcancia<br>
                                <img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/xdRzM96L/Pt-embudo.webp">
                            <a href="https://youtu.be/_CnAhZkglPI?si=KbVgavlLyIOSzx3x" class="txt">Embudo <br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/RCj7CHc6/Pt-ajedrez.webp">
                            <a href="https://youtu.be/9Ro1YlbHwBk?si=b1-jvFAsMLf7Fj-H" class="txt">Ajedrez<br>
                                <img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="toggle-button btn_3">
                        <label>Papel </label>
                        <img src="https://cdn-icons-png.flaticon.com/512/54/54785.png" height="10">
                    </div>

                    <div class="toggle-content">
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/50HZvRnS/Pp-reciclado.webp">
                            <a href="https://youtu.be/yydUkfMeqM4?si=6Fk276lptpYBYHlu" class="txt">Papel Reciclado <br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/7P9WhDHr/Pp-adhesivo.webp">
                            <a href="https://youtu.be/XncO__B0qFo?si=oKjOnoBXKrpLi7CY" class="txt">Nota adhesiva<br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/MpB2rTRJ/Pp-esfera.webp">
                            <a href="https://youtu.be/GtZmoyrVybA?si=Vqzy22_QBsryl6lF" class="txt">Esfera navideña <br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/j2qnZmkB/Pp-barco.webp">
                            <a href="https://youtu.be/Laj6AuGri2w?si=QZu61oF07OiP7l9m" class="txt">Barco <br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                        <div class="item-content">
                            <img class="miniature"
                                src="https://i.postimg.cc/yxcHw8gG/Pp-tronador.webp">
                            <a href="https://youtu.be/_UsOMWPk2yY?si=_ZY6iZQcOSJ013AR" class="txt">Papeleta/Tronador <br><img class="logo-ytb"
                                src="{{url_for('static', filename='img/icon_yt.webp')}}"></a>
                        </div>
                    </div>
                </article>
                
            </section>

        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{url_for('static', filename='js/toggle_btn.js')}}"></script>
</body>

</html>