<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidaridad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solidarity.css') }}">
    <link rel="icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Solidariza</h1>
            <span>Conoce maneras de aportar a la naturaleza y a otras personas.</span>
            <section>
                <article class="step_1">
                    <div class="contain-item">
                        <h2>Aceite de Cocina Usado</h2>
                        <p>
                            Guardar el aceite de cocina usado es una forma ecológica de reducir la contaminación y darle
                            un segundo uso. En lugar de tirarlo por el drenaje, lo que puede obstruir las tuberías y
                            contaminar cuerpos de agua,puedes almacenarlo y buscar alguna entidad o persona que compran
                            dicho aceite.
                            <br><br>
                            <b>Pasos a tener en cuenta:</b>
                        </p>
                        <p class="guide">
                            1. Enfriar el aceite a temperatura ambiente
                            <br><br>
                            2. Colar el aceite con un papel filtro o colador
                            <br><br>
                            3. Guardar en un recipiente preferible de vidrio,plastico o metal.
                            <br><br>
                            4. Almacenar correctamente en un lugar fresco y oscuro
                            <br><br>
                            5. Controla el tiempo transcurrido del aceite
                        </p>
                    </div>
                    <div class="contain-image">
                        <img src="https://i.postimg.cc/rm6MrTZC/S-oil.jpg" alt="Imagen del aceite usado">
                    </div>
                </article>
                <article class="step_2">
                    <div class="contain-item">
                        <h2>Abono/Compost</h2>
                        <p>El abono orgánico, o compost, es una manera de devolver a la tierra los nutrientes que
                            necesita. Al compostar, reducimos la cantidad de basura que generamos y obtenemos un
                            fertilizante natural para plantas y huertos. Es una forma económica y ecológica de mejorar
                            la salud del suelo y de nuestras plantas.
                        </p>
                        <p>
                            <b>Materiales necesarias</b>
                            <br>
                            Residuos orgánicos: Cáscaras de frutas y verduras, restos de café, cáscaras de huevo
                            trituradas, restos de hojas secas, y papel sin tinta.
                            <br>
                            Contenedor de compostaje: Puede ser un balde, caja de madera o plástico, o un espacio al
                            aire libre.
                            <br>
                            Tierra o aserrín: Ayuda a acelerar el proceso y controlar olores.
                            <br>
                            Pala o herramienta de jardinería: Para remover la mezcla.
                            <br>
                            Rociador de agua: Para mantener la humedad adecuada.
                        </p>
                        <p class="guide">
                            <b>Paso a Paso:</b>
                            <br>
                            1. Preparar el contenedor para acumular los residuos que entre el aire, si es cerrado.
                            <br><br>
                            2. Añadir 1 cantidad los residuos verdes(frutas/verduras/cascaras) y 2 cantidades marrones (hojas,ramas) proporcionalmente.
                            <br><br>
                            3. Mantener la humedad de la mezcla pero no empapado.
                            <br><br>
                            4. Revolver regularmente,usa alguna herramienta , cada 1-2 semanas.
                            <br><br>
                            5. Espera unas 6-8 semanas ,convirtiendose en un material oscuro y suelto, olor a tierra.Si es asi,Significa que está listo para usar.
                        </p>
                    </div>
                    <div class="contain-image">
                        <img
                            src="https://i.postimg.cc/SKyYc9ZV/S-compost.webp" alt="Imagen del Compost">
                    </div>
                </article>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/search_dp.js') }}"></script>
</body>

</html>