

body {
  margin: 0;
  width: 100%;
  background-color: var(--blanco-pagina);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-div {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  padding: 0;
}

.main-div h1 {
  color: var(--verde-600);
  font-size: 500%;
  text-shadow: -2px -2px 0 var(--verde-900), -2px 2px 0 var(--verde-900), 2px -2px 0 var(--verde-900),
    2px 2px 0 #004100;
}

@media (max-width: 400px) {
  .main-div h1 {
    font-size: 400%;
  }
}

.main-div div {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
}

.main-div div img {
  aspect-ratio: 1/1;
  max-height: 400px;
  padding: 40px;
  border-radius: 25%;
}

.main-div div p {
  padding: 40px;
  font-size: 3vh;
  overflow-wrap: break-word;
  background-color: #ffd7b5;
  border-radius: 30px;
  max-width: 800px;
  border: 4px outset rgb(36, 36, 36);
}

@media (max-width: 860px) {
  .main-div div {
    flex-direction: column-reverse;
  }

  .main-div div img {
    max-height: 300px;
  }
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.main-div div.contacto {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 15px 0px;
}

.main-div div.contacto div.flash-messages {
  width: 310px;
}

.main-div div.contacto p {
  border: 0;
  background-color: transparent;
  margin: 0;
  width: 70vw;
}

.main-div div.contacto form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.main-div div.contacto form label {
  font-size: larger;
  font-weight: 600;
}

.main-div div.contacto form input {
  padding: 10px;
  width: 45vw;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 15px;
  font-size: large;
}

.main-div div.contacto form textarea {
  padding: 10px;
  width: 45vw;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 15px;
  font-size: large;
  min-height: 150px;
  max-height: 220px;
  overflow-y: auto;
  resize: vertical;
}

@media (max-width: 1024px) {
  .main-div div.contacto form input,
  .main-div div.contacto form textarea {
    width: 70vw;
  }
}

div.contacto form input#Enviar {
  background-color: var(--verde-500);
  font-weight: 700;
  color: var(--negro-950);
}

div.contacto form input#Enviar:hover {
  background-color: var(--verde-700);
  cursor: pointer;
}

/* MODO OSCURO */

body.dark-mode {
  background-color: #000014;
  color: rgb(0, 0, 0);
}

body.dark-mode .main-div h1 {
  text-shadow: -2px -2px 0 #e3e7eb, 2px 2px 0 #e3e7eb, 2px -2px 0 #e3e7eb,
    2px 2px 0 #e3e7eb;
}

body.dark-mode .main-div p {
  border: 4px outset white;
  background-color: #feffd8;
}

body.dark-mode .main-div div.contacto p {
  background-color: transparent;
  border: 0;
  color: white;
}
