* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-div {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    padding: 0;
}

.main-div h1 {
    color: #0AC12B;
    font-size: 500%;
    text-shadow: -2px -2px 0 #004100, -2px 2px 0 #004100, 2px -2px 0 #004100, 2px 2px 0 #004100;
}

@media(max-width:400px){
    .main-div h1 {
        font-size: 400%;
    }
}

.main-div div {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
}

.main-div div img {
    aspect-ratio: 1/1;
    max-height: 400px;
    padding: 40px;
    border-radius: 25%;
}

.main-div div p {
    padding: 40px;
    font-size: 3vh;
    overflow-wrap: break-word;
    background-color: #FFD7B5;
    border-radius: 30px;
    max-width: 800px;
    border: 4px outset rgb(36, 36, 36);
}

@media(max-width:860px) {

    .main-div div {
        flex-direction: column-reverse;
    }

    .main-div div img {
        max-height: 300px;
    }
}

/* MODO OSCURO */

body.dark-mode{
    background-color: #000014;
    color: rgb(0, 0, 0);
    
}

body.dark-mode .main-div h1{
    text-shadow: -2px -2px 0 #e3e7eb,
    2px 2px 0 #e3e7eb, 
    2px -2px 0 #e3e7eb, 
    2px 2px 0 #e3e7eb;
}

body.dark-mode .main-div p{
    border: 4px outset white;
    background-color: #feffd8;
}