/* Estilos globales */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  background: #fafafa url(https://i.postimg.cc/mrnZNhTK/index.webp) no-repeat
    center center/cover;
  min-height: 100vh;
  transition: all 0.5s ease;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido principal */
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
  text-align: center;
}

.title-h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: -2px -2px 0 #156617, -2px 2px 0 #156617, 2px -2px 0 #156617,
    2px 2px 0 #004100;
}

.text-p {
  color: #fff;
  font-size: 1rem;
  margin: 15px 10px 25px 0px;
  font-weight: bold;
}

.btn {
  background-color: #20c721;;
  color: #f1fdf0;
  padding: 15px 25px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #156617;
}

.btn:hover {
  background-color: #14a516;
}

/* Media queries */
@media (max-width: 768px) {
  .title-h1 {
    font-size: 1.8rem;
  }
  .text-p,
  .btn {
    font-size: 0.9rem;
  }
  .btn {
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .title-h1 {
    font-size: 1.5rem;
  }
  .text-p,
  .btn {
    font-size: 0.8rem;
  }
  .btn {
    padding: 6px 12px;
  }
}

@media (max-width: 300px) {
  .title-h1 {
    font-size: 1.2rem;
  }
  .text-p,
  .btn {
    font-size: 0.7rem;
  }
  .btn {
    padding: 5px 10px;
  }
}

/* MODO OSCURO */

body.dark-mode .main-div .title-h1 {
  color: #000000;
  text-shadow: -2px -2px 0 #e3e7eb, 2px 2px 0 #e3e7eb, 2px -2px 0 #e3e7eb,
    2px 2px 0 #e3e7eb;
}
