* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-div {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    padding: 0;
}

.main-div h1 {
    color: #0AC12B;
    font-size: 500%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-div span {
    font-weight: 600;
}

.main-div .bins {
    display: flex;
    flex-direction: column;
}

.main-div .bins .title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 3vh;
    text-shadow: -1px -1px 0 #004100, -1px 1px 0 #004100, 1px -1px 0 #004100, 1px 1px 0 #004100;
    align-items: center;
}

.main-div .bins .title p.t3 {
    color: black;
}

@media(max-width:800px) {
    .main-div .bins .title {
        font-size: 16px;
    }
}

@media(max-width:800px) {
    .main-div .bins .title {
        font-size: 13px;
    }
}

.main-div .bins .image {
    aspect-ratio: 21/9;
    max-height: 480px;
    max-width: 80vw;
    border-radius: 20px;
}

.main-div .bins .descripcion {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(https://i.postimg.cc/jjQWTN0P/recicla-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    align-self: center;
    margin: 0;
    width: 60vw;
    text-align: center;
}

@media(max-width:1004px) {
    .main-div .bins .descripcion {
        font-size: 12px;
        width: 70vw;
    }
}

@media(max-width:850px) {
    .main-div .bins .descripcion {
        font-size: 11px;
        width: 80vw;
    }
}

@media(max-width:650px) {
    .main-div .bins .descripcion {
        font-size: 9px;

        width: 90vw;
    }
}


.main-div .bins .descripcion .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
}

.main-div .bins .descripcion p {
    max-width: 300px;
    overflow-wrap: break-word;
    color: white;
    font-weight: bolder;
    z-index: 2;
    text-align: center;
}

.main-div select.deparments {
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.main-div .direction {
    display: flex;
    flex-direction: column;
}

.main-div .direction article {
    align-items: center;
    justify-content: center;
    max-width: 90vw;
}

.main-div .direction article h3 {
    width: 90vw;
    text-align: left;
    border-bottom: 3px solid black;
}

.main-div .direction article div {
    position: relative;
    background-color: #FFEFBC;
    border-radius: 20px;
    min-height: 60px;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    margin: 60px 0px 60px 0px;
    align-self: center;
    font-size: large;
}

.main-div .direction article div .link-map {
    color: red;
}

/* MODO OSCURO */

body.dark-mode {
    background-color: #000014;
    color: #ffffff;
}

body.dark-mode .main-div .bins .title p.t3 {
    color: #b9b9b9;
}

body.dark-mode .main-div .direction article div {
    background-color: #bcccff;
    color: black;

}

body.dark-mode .main-div .direction article h3 {
    border-bottom: 3px solid rgb(255, 255, 255);
}