* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--blanco-pagina);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-div {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  padding: 0;
}

.main-div h1 {
  color: var(--verde-500);
  font-size: 500%;
  margin-bottom: 20px;
  text-shadow: -2px -2px 0 var(--verde-900), -2px 2px 0 var(--verde-900), 2px -2px 0 var(--verde-900),
    2px 2px 0 var(--verde-900);
}

.main-div span {
  font-size: large;
}

.main-div section {
  padding: 20px;
}

.main-div article {
  border: 1px solid #121212;
  border-radius: 6px;
  width: 90vw;
  margin-bottom: 10px;
}

.main-div article .toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #121212;
  font-weight: bold;
  justify-content: space-between;
}

.main-div article .toggle-content {
  max-height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;

  transition: max-height 0.3s ease;
}

.main-div article div.btn_1 {
  background-color: #ff4a4a;
}

.main-div article div.btn_2 {
  background-color: #4abdff;
}

.main-div article div.btn_3 {
  background-color: #fffc4a;
}

.main-div article .toggle-button label {
  color: black;
}

@media (max-width: 1150px) {
  .main-div article .toggle-content {
    grid-template-columns: repeat(3, 1fr);
    height: max-content;
  }
}

@media (max-width: 800px) {
  .main-div article .toggle-content {
    grid-template-columns: repeat(2, 1fr);
    height: max-content;
  }
}

@media (max-width: 540px) {
  .main-div article .toggle-content {
    grid-template-columns: repeat(1, 1fr);
    height: max-content;
  }
}

.toggle-content.show {
  overflow: visible;
}

.main-div article .toggle-content .item-content {
  display: flex;
  flex-direction: column;
  padding: 20px 5px 20px 5px;
  align-items: center;
}

.main-div article .toggle-content .item-content .miniature {
  aspect-ratio: 5/4;
  max-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  align-self: center;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.main-div article .toggle-content .item-content .logo-ytb {
  aspect-ratio: 1/1;
  width: 40px;
  align-self: center;
}

.main-div article .toggle-content .item-content a.txt {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: larger;
  width: 250px;
}

.main-div article .toggle-content .item-content a.txt:hover {
  color: #ff4a4a;
}

/* MODO OSCURO */

body.dark-mode {
  background-color: var(--dark-blue);
  color: white;
}

body.dark-mode .main-div article .toggle-button {
  border-bottom: 1px solid #b9b9b9;
}

body.dark-mode .main-div article {
  border: 1px solid #b9b9b9;
}

body.dark-mode .main-div article .toggle-content .item-content a.txt {
  color: white;
}

body.dark-mode .main-div article .toggle-content .item-content a.txt:hover {
  color: #ff4a4a;
}
