* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--blanco-pagina);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-div {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  padding: 0;
}

.main-div h1 {
  color: var(--verde-500);
  font-size: 400%;
}

.main-div span {
  font-size: large;
}

.main-div section {
  max-width: 80vw;
  padding-top: 20px;
}

.main-div section article {
  margin: 30px;
  margin-bottom: 60px;
}

.main-div section article.step_1 {
  display: flex;
  flex-direction: row;
}

.main-div section article.step_2 {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1370px) {
  .main-div section article.step_1,
  .main-div section article.step_2 {
    flex-direction: column-reverse;
  }

  .main-div div.contain-image {
    height: 500px;
  }
}

@media (max-width: 640px) {
  .main-div section article.step_1,
  .main-div section article.step_2 {
    flex-direction: column-reverse;
  }

  .main-div div.contain-image {
    height: 300px;
  }

  .main-div div.contain-image img {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .main-div section article.step_1,
  .main-div section article.step_2 {
    flex-direction: column-reverse;
  }

  .main-div div.contain-image {
    height: 300px;
  }

  .main-div div.contain-image img {
    max-width: 210px;
  }
}

.main-div section article div.contain-item {
  background-color: #cdbb9f;
}

.main-div section article div.contain-item h2 {
  margin: 5px;
  color: #241000;
}

.main-div section article div p {
  overflow-wrap: break-word;
  color: #3b1b00;
  font-weight: 500;
  text-align: justify;
  line-height: 25px;
}

.main-div section article div.contain-item p.guide {
  font-weight: 500;
  color: #3b1b00;
  text-align: start;
}

.main-div section article div {
  padding: 5px 20px 5px 20px;
  border-radius: 6px;
  align-content: center;
  z-index: 1;
}

.main-div section article div.contain-image {
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  aspect-ratio: 1/1;
  position: relative;
}

.main-div section article div.contain-image img {
  border-radius: 50%;
  width: 450px;
  aspect-ratio: 1/1;
  padding: 10px;
  margin-bottom: 15px;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* MODO OSCURO */

body.dark-mode {
  background-color: #000014;
  color: #ffffff;
}
