<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Nosotros</h1>
            <div>
                <p>
                    Estamos comprometidos a guiar a las personas con el cuidado del medio ambiente y promocionar
                    prácticas que contribuyan a un
                    lugar más limpio. Nuestra misión es facilitar el brindar soluciones, aprendizaje y gestión de
                    residuos.
                    <br>
                    Lo importante es dar la iniciativa a cada individuo, y te invitamos a unirte en esta misión;
                    descubre cómo dejar una marca en tu entorno.
                    <br><br>
                    <b>Nuestra misión es lograr un futuro cada vez más ecológico.</b>
                </p>
                <img src="https://i.postimg.cc/tJpj0Rx4/about.webp" alt="Imagen del Grupo">
            </div>
            <h1>Contacto</h1>

            <div class="contacto">
                <p>¿Tienes algún bug, error, consejo o información para compartir? ¡Contáctanos! Estamos aquí para
                    ayudarte y mejorar juntos.</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <form id="form_mail" action="/about/send_email" method="post">
                    <label for="asunto">Asunto:</label>
                    <input type="text" id="asunto" name="asunto" placeholder="Titulo" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Correo Electronico" required>
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="5" placeholder="Descripcion" required></textarea>
                    <input type="submit" value="Enviar" id="Enviar">
                </form>

            </div>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>