<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">

        {% include 'components/header.html' %}

        <main class="main-div">
            <div class="content-div">
                <h1 class="title-h1">
                    Ordena, Aprende y Recicla en el HOGAR
                </h1>
                <p class="text-p">
                    Utiliza nuestro modelo para separar tus objetos reciclables mediante una imagen.
                </p>
                <a class="btn" href="{{ url_for('model') }}">
                    Clasificador de reciclaje
                </a>
            </div>
            
        </main>

        {% include 'components/footer.html' %}

    </div>
</body>


</html>