<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Explora</h1>
            <span>Descubre todo lo que necesitas sobre el tema</span>
            <br>
            <br>
            <div class="grid-container"> <!-- dividir  los recuadros-->

                {% for area in areas %}
                {% with area=area %}
                {% include 'components/learn_area.html' %}
                {% endwith %}
                {% endfor %}

            </div>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>