<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Explora</h1>
            <span>Descubre todo lo que necesitas sobre el tema</span>
            <br>
            <br>
            <div class="grid-container"> <!-- dividir  los recuadros-->

                {% for area in areas %}
                {% include 'components/learn_area.html' %}
                {% endfor %}

                <div class="item-grid" style="background-image: url(https://i.postimg.cc/W3J1Syw2/L-plastic.jpg);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('plastic')}}">Plastico</a>
                    <p class="item-paragraph">Aprende sobre los diferentes tipos de plásticos, sus usos comunes, y el
                        impacto ambiental que generan.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/fLbPY3mX/L-glass.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('glass')}}">Vidrio</a>
                    <p class="item-paragraph">Conoce su proceso de reciclaje y los beneficios de reutilizar este
                        material, que contribuye a un entorno más sostenible.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/6pdFKxB7/L-bio.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('biodegradable')}}">Biodegradable</a>
                    <p class="item-paragraph">Conoce qué significa realmente que un material sea biodegradable y su
                        importancia en la reducción de residuos.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/6q211DHp/L-metal.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('metal')}}">Metal</a>
                    <p class="item-paragraph">Aprende sobre los tipos de metales que se encuentran en productos de uso
                        diario y su importancia en el reciclaje.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/W4TCbY45/L-carton.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('cardboard')}}">Carton</a>
                    <p class="item-paragraph">Descubre por qué el cartón es uno de los materiales reciclables más
                        comunes y fáciles de reutilizar.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/XNrjbqmp/L-paper.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('paper')}}">Papel</a>
                    <p class="item-paragraph">Conoce el ciclo de reciclaje del papel, un material que puede ser
                        reciclado varias veces.</p>
                </div>
                <div class="item-grid" style="background-image: url(https://i.postimg.cc/5yhkcnGq/L-nocivo.webp);">
                    <div class="overlay"></div>
                    <a class="item-title" href="{{url_for('nocivos')}}">Nocivos</a>
                    <p class="item-paragraph">Explora el impacto de los materiales nocivos, como baterías y pilas, en el
                        medio ambiente.</p>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>