<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/model.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <span class="btn_openmenu" onclick="openNav()">&#9776; Menu</span><br><br>
    <nav class="aside" id="aside">
        <div class="overlay"></div>
        <img class="aside_logo" src="https://i.postimg.cc/gk7MpWkm/logo.webp">
        <h1 style="text-decoration: underline;">Opciones</h1>

        <label for="confidenceThreshold">
            <span class="tooltip-container">
                <img class="logo_x"
                    src="https://images.vexels.com/media/users/3/152347/isolated/preview/27304b9b14ce9bd8a28ca637ed92070e-icono-de-signo-de-interrogacion-de-circulo-azul.png"
                    alt="Ayuda">
                <span class="tooltip-text">Es la probabilidad que determina en las predicciones,si es alto es más confiable, aunque puede omitir objetos al no cumplir dicho porcentaje. Si es bajo, será menos confiable, pero detectará aún más.</span>
            </span>
            Umbral de Confianza:
        </label>
        <input type="range" id="confidenceThreshold" min="0.1" max="0.8" step="0.01" value="0.5">
        <span id="confidenceValue" style="color: white;">0.5</span>
        <h1>Colores</h1>
        <ul class="colors">
            <li class="bio">Biodegradable</li>
            <li class="cardb">Cartón</li>
            <li class="glass">Vidrio</li>
            <li class="metal">Metal</li>
            <li class="noxios">Nocivos</li>
            <li class="paper">Papel</li>
            <li class="plastic">Plastico</li>
        </ul>
        <h1 for="SwitchCamera">Camara</h1>
        <button id="switchCameraBtn">Cambiar de dispositivo</button>
        </a>
        <label class="nav-link-aside" for="darkModeToggle"><input type="checkbox" class="btn_darkmode" id="darkModeToggle" hidden>
            Modo Oscuro</label>
        <br>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Cerrar Pestaña</a>
        <a href="{{ url_for('index') }}" class="nav-link">Ir a Inicio</a>
    </nav>

    <div class="container">
        <main>
            <div>
                <div>
                    <p>Camara Actual: <span id="currentCamera"></span><br>
                    (Aceptar Permisos de la CAMARA y recarga la pagina)</p>
                    <video id="video" width="640" height="480" autoplay></video><br>
                    <button id="captureBtn">Capturar</button>
                    <p>O</p>
                    <input type="file" id="fileInput" hidden accept="image/*,video/*">
                    <label for="fileInput" id="fileinputlabel">Selecciona un archivo</label>
                </div>
                <br>
                <img id="resultImage">
            </div>
            <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
            <div>
                <h3>Detecciones:</h3>
                <ul id="detectionsList"></ul>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
</body>

</html>