<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}" >
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Noticias</h1>
            <span>Conoce las novedades,articulos y eventos en Colombia. </span>
            <section>

                {% for notice in notices %}
                {% with notice=notice %}
                {% include 'components/news_article.html' %}
                {% endwith %}
                {% endfor %}

            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>