<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recicla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recycle.css') }}" >
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <section>
                <article class="part1">
                    <div class="overlay"></div>

                        <h1>Que Desea Hacer</h1>
                        <div class="btns">
                            <a href="{{ url_for('recicla')}}">RECICLAR</a>
                            <a href="{{ url_for('reuse')}}">REUTILIZAR</a>
                            <a href="{{ url_for('solidarity')}}">SOLIDARIZAR</a>
                        </div>
                        <br><br><br><br>
                        <div>
                            <span style="position: relative;color: white;font-weight: bold; transform: translateY(-200px);">
                                Que significan?<br><img src="{{url_for('static', filename='img/scroll_down.webp')}}" style="aspect-ratio: 1/1;height: 25px;" alt="icono de flecha hacia abajo"></span>
                        </div>

                </article>
                
                <article class="part2">
                    <div class="block">
                        <img  src="https://i.postimg.cc/tCKR4bWp/R-recycle.webp" alt="Ilustracion 1"><br>
                        <div class="block-txt">
                        <h2>Reciclar</h2>
                        <p>Aporta en el proceso de convertir el material usado en uno renovado.
                        </p>
                        </div>
                    </div>
                    <div class="block">
                        <img  src="https://i.postimg.cc/CLBL05Zc/R-reuse.webp" alt="Ilustracion 2"><br>
                        <div class="block-txt">
                        <h2>Reutilizar</h2>
                        <p>Otorga una nueva utilidad en algun objeto reciclable.
                        </p>
                        </div>
                    </div>
                    <div class="block">
                        <img  src="https://i.postimg.cc/y6rY2cNJ/R-solidarity.webp" alt="Ilustracion 3"><br>
                        <div class="block-txt">
                        <h2>Solidarizar</h2>
                        <p>Colabora mutuamente que permite la superacion de problemas y desastres.
                        </p>
                        </div>
                    </div>
                </article>
            </section>

            <section style="width: 50vw;height: max-content;">
                <details >
                    <summary>HOLA</summary>
                    <p>ESTE ES EL RECUENTO</p>
                </details>
                <details>
                    <summary>HOLA 2</summary>
                    <p>ESTE ES EL RECUENTO</p>
                </details>
                <details>
                    <summary>HOLA 3</summary>
                    <p>ESTE ES EL RECUENTO</p>
                </details>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>