<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodegradable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn_pages.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Biodegradable</h1>
            <span>Los materiales biodegradables son aquellos que pueden descomponerse de forma natural por la acción de
                microorganismos.
            </span><br>
            <div class="video">
                <div class="overlay"></div>
                <iframe src="https://www.youtube.com/embed/_xLBCRrJi0s?si=WcXg-2T4oDPyGa1j" title="Video de los alimentos"
                    frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <section>
                <article style="background-color: #3cabdf;">
                    <div style="background-color: #00aeff;" class="toggle-button">
                        <img src="https://i.postimg.cc/xdcvt2m7/Learn-type.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Categorias</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Residuos de alimentos: Incluyen cáscaras de frutas y verduras, restos de comida, posos
                                de café, cáscaras de huevo, entre otros.
                                <br><br>
                                Residuos de jardinería: Restos de plantas, césped cortado, ramas pequeñas, hojas y
                                flores. Estos materiales se compostan fácilmente y enriquecen el suelo.
                                <br><br>
                                Productos de algodón, lana y otros tejidos naturales: Ropa o textiles hechos de fibras
                                naturales, como algodón, lino o lana, pueden ser biodegradables si no tienen tintes o
                                tratamientos sintéticos.
                                <br><br>
                                Madera y aserrín: Trozos de madera sin tratar, aserrín y virutas de madera. La madera
                                tratada o barnizada no es biodegradable en condiciones naturales.
                                <br><br>
                                Materiales compostables certificados: Productos elaborados específicamente para
                                biodegradarse, como ciertos tipos de bolsas y utensilios de cocina compostables, suelen
                                tener una certificación para garantizar que se descomponen en condiciones de compostaje.
                                <br><br>
                                Residuos animales: Huesos, plumas, y estiércol de animales (aunque estos requieren un
                                compostaje adecuado, especialmente los restos de animales para evitar problemas
                                sanitarios).
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #dcdf3c;">
                    <div style="background-color: #fffb00;" class="toggle-button">
                        <img src="https://i.postimg.cc/BvH6q7fb/Learn-degradation.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Degradacion</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Su degradacion abarca de pocas semanas a meses,depende del material y condiciones
                                ambientales.
                                <br>
                                Los tiempos de degradación de los elementos mas comunes son:
                            </p>
                            <ul>
                                <li>Cáscaras de frutas: 2 semanas a 6 meses</li>
                                <li>Residuos de alimentos: 1 a 6 meses</li>
                                <li>Bolsas de papel: 1 a 2 meses</li>
                                <li>Algodón: 1 a 5 meses</li>
                                <li>Madera: 1 a 3 años</li>
                                <li>Hilo de lana: 1 a 5 años</li>
                                <li>Cueros y pieles sin tratar: 1 a 5 años</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article style="background-color: #3cdf4a;">
                    <div style="background-color: #00ff15;" class="toggle-button">
                        <img src="https://i.postimg.cc/fyB78T8G/Learn-impact.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Impacto Ambiental</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                La descomposición de residuos biodegradables en vertederos, donde no reciben suficiente
                                oxígeno, produce metano, un gas de efecto invernadero más potente que el CO₂. Sin
                                embargo, cuando se compostan adecuadamente, estos materiales ayudan a regenerar los
                                suelos y reducir la dependencia de fertilizantes químicos.
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #df3c3c;">
                    <div style="background-color: #ff0000;" class="toggle-button">
                        <img src="https://i.postimg.cc/fyjqDNBC/Learn-solve.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Soluciones</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Realizar Compostaje Doméstico: Convertir los residuos orgánicos en abono natural.
                                <br><br>
                                Evitar la Mezcla con Otros Residuos: Separar materiales biodegradables de los no
                                biodegradables para facilitar su gestión.
                                <br><br>
                                Apoyar el Uso de Productos Biodegradables: Optar por productos que se descomponen
                                fácilmente para reducir la cantidad de residuos.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{url_for('static', filename='js/toggle_btn.js')}}"></script>
</body>

</html>