<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidrio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn_pages.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Vidrio</h1>
            <span>Es un material mediante fusion de sosa ,arena silicea y cal ,sus cualidades de resistencia y transparencia son 
                    ideales para envases de alimentos y bebidas ,ya que no reacciona con el contenido.    
            </span><br>
            <div class="video">
                <div class="overlay"></div>
                <iframe src="https://www.youtube.com/embed/-l2USPpDvAI?si=nMz8sPfhXTg51P5D" title="Video del vidrio"
                    frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
            <section>
                <article style="background-color: #3cabdf;">
                    <div style="background-color: #00aeff;" class="toggle-button">
                        <img src="https://i.postimg.cc/xdcvt2m7/Learn-type.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Tipos</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Vidrio Transparente: Utilizado en frascos de alimentos y botellas de bebidas.
                                <br><br>
                                Vidrio de Color (Verde, Ámbar): Se usa para proteger líquidos de la luz solar, como en botellas de vino y cerveza.
                                <br><br>
                                Vidrio Templado y Laminado: Común en ventanas, parabrisas y productos de seguridad. Este vidrio es más resistente pero requiere un proceso especializado para su reciclaje.
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #dcdf3c;">
                    <div style="background-color: #fffb00;" class="toggle-button">
                        <img src="https://i.postimg.cc/BvH6q7fb/Learn-degradation.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Degradacion</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                El vidrio puede tardar miles de años en descomponerse por su resistencia, a diferencia de otros materiales no libera sustancias toxicas al medio ambiente.
                                <br>
                                Los tiempos de degradación de los productos mas comunes son:
                            </p>
                            <ul>
                                <li>Botellas de vidrio: 4,000 años o más</li>
                                <li>Vasos de vidrio: similar a las botellas, miles de años o más</li>
                                <li>Fragmentos de vidrio: miles de años; no se degradan fácilmente y pueden persistir en el ambiente casi indefinidamente</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article style="background-color: #3cdf4a;">
                    <div style="background-color: #00ff15;" class="toggle-button">
                        <img src="https://i.postimg.cc/fyB78T8G/Learn-impact.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Impacto Ambiental</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Es 100% reciclable y su gran beneficio se puede reprocesar infinitamente sin perder calidad del material.Sin embargo, su fabricacion requieres altas temperaturas,
                                lo que implica gran consumo energetico y emision del CO<sub>2</sub>
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #df3c3c;">
                    <div style="background-color: #ff0000;" class="toggle-button">
                        <img src="https://i.postimg.cc/fyjqDNBC/Learn-solve.webp"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Soluciones</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Reutilizar Frascos y Botellas: Usar recipientes de vidrio para almacenar alimentos en el hogar.
                                <br><br>
                                Reciclaje Selectivo: Separar el vidrio en contenedores específicos para facilitar su procesamiento
                                <br><br>
                                Apoyar el Uso de Vidrio Reciclado en la Industria: Optar por productos hechos con vidrio reciclado ayuda a reducir el consumo energético en la producción.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{url_for('static', filename='js/toggle_btn.js')}}"></script>
</body>

</html>