<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nocivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn_pages.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Nocivos</h1>
            <span>Las baterías y pilas son fuentes de energía utilizadas en una amplia variedad de dispositivos.Aunque
                contienen sustancias químicas peligrosas que pueden tener efectos negativos tanto para la salud humana
                como para el medio ambiente.
            </span><br>
            <div class="video">
                <div class="overlay"></div>
                <iframe src="https://www.youtube.com/embed/G6iafHqJVEU?si=TSQ3AHZ4nyJpnanD" title="Video de las pilas"
                    frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <section>
                <article style="background-color: #3cabdf;">
                    <div style="background-color: #00aeff;" class="toggle-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/5777/5777516.png"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Tipos</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Baterías Alcalinas: son las pilas desechables más comunes que se encuentran en la
                                mayoría de dispositivos pequeños, como juguetes y controles remotos.
                                <br><br>
                                Baterías Recargables: similar a las de níquel-hidruro metálico (NiMH), níquel-cadmio
                                (NiCd), y las más modernas de litio (Li-ion) son utilizadas en dispositivos.
                                <br><br>
                                Baterías de Plomo Ácido: Estas baterías se encuentran principalmente en automóviles y
                                equipos industriales.
                                <br><br>
                                Baterías de Litio de Estado Sólido: son la nueva generación de baterías que se están
                                desarrollando para vehículos eléctricos y dispositivos electrónicos avanzados.
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #dcdf3c;">
                    <div style="background-color: #fffb00;" class="toggle-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/5777/5777516.png"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Degradacion</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Las baterías, debido a su composición química y materiales pesados como el plomo y el
                                cadmio, son una de las fuentes de contaminación más duraderas en el medio ambiente si no
                                se gestionan adecuadamente.
                            </p>
                            <ul>
                                <li>Baterías Alcalinas: 100 a 500 años</li>
                                <li>Baterías Recargables (NiMH, NiCd, Li-ion): 5 a 10 años</li>
                                <li>Baterías de Plomo Ácido: 20 a 50 años</li>
                                <li>Baterías de Litio de Estado Sólido: No completamente determinado, pero se estima más
                                    de 500 años</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article style="background-color: #3cdf4a;">
                    <div style="background-color: #00ff15;" class="toggle-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/5777/5777516.png"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Impacto Ambiental</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Contaminación del Suelo y Agua: Los metales pesados que contienen las baterías pueden
                                contaminar los suelos y los cuerpos de agua si no se gestionan adecuadamente.
                                <br><br>
                                Toxicidad para la Fauna: Los animales que ingieren pilas o baterías pueden sufrir
                                efectos tóxicos graves.
                                <br><br>
                                Reciclaje Difícil: Muchas baterías no son recicladas adecuadamente debido a su
                                complejidad, lo que hace que se acumulen en vertederos.
                            </p>
                        </div>
                    </div>
                </article>
                <article style="background-color: #df3c3c;">
                    <div style="background-color: #ff0000;" class="toggle-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/5777/5777516.png"
                            style="margin-bottom: 10px;aspect-ratio: 1/1;height:50px">
                        <label>Soluciones</label>
                    </div>
                    <div class="toggle-content">
                        <div class="item-content">
                            <p>
                                Reciclaje de Baterías y Pilas: Asegurarse de llevar las baterías y pilas usadas a puntos de reciclaje especializados para evitar que terminen en vertederos.
                                <br><br>
                                Uso de Baterías Recargables: Optar por baterías recargables en lugar de desechables, lo que reduce la necesidad de producir baterías nuevas.
                                <br><br>
                                Investigación en Nuevas Tecnologías: Apoyar el desarrollo de tecnologías más sostenibles en la fabricación de baterías, como las de litio de estado sólido o las basadas en materiales más abundantes y menos tóxicos.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{url_for('static', filename='js/toggle_btn.js')}}"></script>
</body>

</html>