<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recicla.css') }}">
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Recicla</h1>
            <span>En Colombia, se unifica los residuos en 3 colores.</span>
            <section class="bins">
                <article class="title">
                    <p style="color:white">Aprovechables</p>
                    <p style="color:green">Organicos Aprovechables</p>
                    <p style="color:black">No Aprovechables</p>
                </article>
                <article >
                    <img class="image"src="https://www.canecasdereciclaje.com/cdn/shop/files/Canecas.png?v=1685477212&width=1500">
                </article>
                <article class="descripcion">
                    <div class="overlay"></div>
                    <p>Papel, Carton, Plastico, Vidrio, Metal </p>
                    <p>Restos de comida, Desperdicios agricolas</p>
                    <p>Papeles higienico, Servilletas</p>
                </article>
            </section>
            <h2>Departamentos</h2>
            <form>
                <select title="deparments">
                    <option selected disabled>-Ninguna-</option>
                    <option>Amazonas</option>
                    <option>Santander</option>
                </select>
            </form>
            <section class="direction">
                <article class="Amazonas">
                    <h3>- Amazonas -</h3>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                    <div>
                        Departamento Martinet (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a class="link-map" href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
                <article class="Santander">
                    <h3>- Santander -</h3>
                    <div>
                        Departamento Rigoberto (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                    <div>
                        Departamento Antuan (Centro de Reciclaje)<br>
                        Cra 18 #40-2 - Leticia<br>
                        31209846532<br>
                        <a href="https://maps.app.goo.gl/Ypqgr4EBgeNHJUYX8">Ir a Maps</a>
                    </div>
                </article>
            </section>
            <!-- Aca se supone de deberia ir el buscador de google maps
        -->
            <br>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1d4mNFudfN13l7_bi-wwAoLDsm31FXQY&ehbc=2E312F"
                width="90%" height="480" style="border-radius: 20px;" title="cuadro de los lugares de reciclaje"></iframe>
            <br>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/search_dp.js') }}"></script>
</body>

</html>