<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reutilizar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reuse.css') }}">
    <link rel="shortcut icon" href="https://i.postimg.cc/gk7MpWkm/logo.webp" />
</head>

<body>
    <div class="container">
        {% include 'components/header.html' %}
        <main class="main-div">
            <h1>Reutiliza</h1>
            <span>Busca tu material y recrea para darle un nuevo uso.</span>
            <br>
            <span style="font-size: small;">(El material audiovisual mostrado es como uso UNICAMENTE educativo y
                proporcionar guia,referenciando enlace al video.)</span>
            <section>
                {% for material in materials %}
                <article>
                    <div class="toggle-button {{ material.button_color }}">
                        <label class="lbl_text">{{material.name}}</label>
                        <img src="https://cdn-icons-png.flaticon.com/512/54/54785.png" height="10">
                    </div>
                    <div class="toggle-content">
                        {% for craft in material.crafts %}
                        <div class="item-content">
                            <div class="image-container">
                                <img class="miniature" loading="lazy" src="{{craft.image_link}}" >
                            </div>
                            <a href="{{craft.video_link}}" class="txt">{{craft.name}}<br>
                                <img class="logo-ytb" src="{{url_for('static', filename='img/icon_yt.webp')}}" width="40" height="40"></a>
                        </div>
                        {%endfor%}
                    </div>
                </article>
                {%endfor%}
            </section>
        </main>
        {% include 'components/footer.html' %}
    </div>

    <script src="{{url_for('static', filename='js/toggle_btn.js')}}"></script>
</body>

</html>